# <b>IFI 8420 - Assignment 1</b>
### Team 5

<hr>

### <b>Section 1</b> - Netflix stock from Yahoo (Jan 2, 2004 - Dec 31, 2019)
##### <u>Section Code Split</u>
<ol>
    <li>Mina - </li>
    <li>Carmen - </li>
    <li>Gaayathri - </li>
    <li>Jonathan - </li>   
</ol>

<hr>

##### a. Converting the CSV file to a dataframe.

##### b. Seeing the size and type of the dataframe.

##### c. Viewing the first 5 rows of the dataframe.

##### d. Plotting the daily prices.

##### e. Computing log returns using closing price.

##### f. Constructing a time plot of the daily log returns.

##### g. Calculating the sample mean, standard deviation, minimum, and maximum of the daily log returns series.

##### h. Constructing a historgram of the return series.

##### i. Testing whether the mean of the daily log return is different from zero.

##### j. Summary of the analysis for Section 1.

<hr>

### <b>Section 2</b> - Chosen Stocks Monthly Prices Datasets
##### First dataset: link
##### Second dataset: link
##### Third dataset: link<br>
##### <u>Section Code Split</u>
<ol>
    <li>Mina - </li>
    <li>Carmen - </li>
    <li>Gaayathri - </li>
    <li>Jonathan - </li>   
</ol>

<hr>

##### a. Converting the CSV files to a dataframe.

##### b. Choosing the adjusted closing price of the three stocks and formatting the price series in a single Data series.

##### c. Seeing the size and type of the dataframe.

##### d. Viewing the first 5 rows of the dataframe.

##### e. Plotting the monthly prices of the three stocks.

##### f. Computing log returns using closing price, using functions, loops, etc.

##### g. Constructing a time plot of the monthly log returns of the three stocks, and displaying the return series together in one plot and also separately.

##### h. Calculating the sample mean, standard deviation, minimum, and maximum of the monthly log returns series.

##### i. Constructing a historgrams of the three return series.

##### j. Testing whether the mean of the daily log return is different from zero.

##### k. Computing the total HPR, the average annual HPR returns, and reporting the values in percentage.

##### l. Summary of the analysis for Section 2.